body{
background: #151515;
color: white;
font-family: sans-serif;
}

.container{
background: rgba(255,255,255,0.7);
width: 1000px;
height: 500px;
margin: 10px 25% 25%;
}

.img{
width: 250px;
height: 300px;
margin-right: 90%;}

.header{
font-size: 35px;
font-family: arial;
font-weight: bold;
padding-top: 15px;
margin: 10px 10px 5px;
}

.school{
.font-family: timesnewroman;
font-size: 27px;}
